[submodule "home/.config/tmux/plugins/tpm"]
	path = home/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.crucible"]
	path = home/.crucible
	url = git@github.com:sustinbebustin/.crucible.git
